
@{
    ViewBag.Title = "ComingSoon";
}

<body class="bg-fixed-04">
    <!-- Begin Container -->
    <div class="container-fluid h-100 overflow-y">
        <div class="row flex-row h-100">
            <div class="col-12 my-auto">
                <div class="coming-soon mx-auto">
                    <div class="logo-centered">
                        <a href="db-default.html">
                            <img src="~/assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <h1>Coming <span>Soon</span></h1>
                    <div class="sub-heading">This Page Is Under Construction</div>
                    <div class="row align-items-center justify-content-center">
                        <div id="countdown"></div>
                    </div>
                    <div class="notify-form">
                        <div class="heading">
                            We will let you know when we are ready
                        </div>
                    </div>
                </div>
                <!-- End Coming Soon -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
</body>
